@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body{
    margin-top: 90px;
    background: #000;
    font-family: 'Raleway', sans-serif;
}


/* Header **************/

.bg-header {
    background: url('../images/bg-header.jpg') no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
      overflow: hidden;
}

.opaque-overlay {
    position: absolute;
    top: 91px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.gradient-overlay {
    position: absolute;
    top: 92px;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
        background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5046393557422969) 14%, rgba(0,0,0,0) 28%);
        background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5046393557422969) 14%, rgba(0,0,0,0) 28%);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5046393557422969) 14%, rgba(0,0,0,0) 28%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

/* LOGO *****************/

#logo {
    width: 200px;
}

#logo img {
    width: 100%;
}

/* NAV *******************/

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=fff');
}

.navbar-toggler {
     border-color: #fff;   
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none; !important
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.8px;
    text-align: center;
    font-size: 13px;
  
}

.nav-item>a:hover {
    color: #626262;
    background-color: transparent;
    transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -webkit-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
}

.bg-navbar {
    background-color: rgba(0,0,0,1);
}

/* About section ***********/


#about {
    padding-top: 110px;
    color: #A9A9A9;
}

.about-header {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 35px;
}

/* MUSIC SECTION SPOTIFY *****/

#music {
    padding-top: 110px;
}

.img-playlist-music {
    width: 300px;
    margin: 0 auto;
}


.text-playlist-music {
    font-size: 30px;
    font-weight: 300;
    margin: 25px 0 10px;
    text-align: center;
}

.text-playlist-music a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


/* Auxiliary Classes *****/

.bg-white {
    background-color: #fff;
}

.pd-top {
    padding-top: 30px;
}

.mg-bottom {
    margin-bottom: 35px;
}